<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="TranslatorApk.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <TranslatorApk.Properties.Settings>
      <setting name="LanguageOfApp" serializeAs="String">
        <value />
      </setting>
      <setting name="OnlineTranslator" serializeAs="String">
        <value>00000000-0000-0000-0000-000000000000</value>
      </setting>
      <setting name="EditorFontSize" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="RowHeight" serializeAs="String">
        <value>120</value>
      </setting>
      <setting name="OpenLastFolder" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmptyXml" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EmptySmali" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Images" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="FilesWithErrors" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SystemApp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="OnlyXml" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CurrentCulture" serializeAs="String">
        <value />
      </setting>
      <setting name="TargetLanguage" serializeAs="String">
        <value />
      </setting>
      <setting name="OnlyFullWords" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MatchCase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EditorSOnlyFullWords" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EditorSMatchCase" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MainWMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EditorWMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EditorWHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="EditorWWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="OtherFiles" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ReplaceSequences" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="MainWindowSize" serializeAs="String">
        <value>670, 500</value>
      </setting>
      <setting name="OnlyResources" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Theme" serializeAs="String">
        <value />
      </setting>
      <setting name="ApktoolVersion" serializeAs="String">
        <value />
      </setting>
      <setting name="UpdateNeeded" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowPreviews" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="EmptyFolders" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TopMost" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TargetDictionary" serializeAs="String">
        <value />
      </setting>
      <setting name="AlternativeEditingKeys" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="SessionAutoTranslate" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EditorWindowSaveToDict" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowNotifications" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AlternatingRows" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TranslationTimeout" serializeAs="String">
        <value>5000</value>
      </setting>
    </TranslatorApk.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
